:javascript
  $(function() {
    var lesson = 'Lorem Ipsum | is simply dummy text | of the printing and | typesetting industry.\n\
    Lorem Ipsum has been | the industrys standard | dummy text ever since | the 1500s,\n\
    when an unknown printer | took a galley of type | and scrambled it\n\
    to make a type specimen book. | It has survived not only \n\
    five centuries, | but also the leap into | electronic typesetting,\n\
    remaining essentially unchanged. | It was popularised in\n\
    the 1960s with the release | of Letraset sheets \n\
    containing Lorem Ipsum passages,\n\
    and more recently | with desktop publishing | software \n\
    like Aldus PageMaker | including versions of Lorem Ipsum.'
        app.lesson_controller.lesson.set_lesson(lesson)
  })
